@tailwind base;
@tailwind components;
@tailwind utilities;


body{font-family: "roboto";}
h1,h2,h3,h4,h5,h6{font-family: "lora";}

.paragraphe a{text-decoration: underline;}

p,a, .paragraphe ul li, .paragraphe h3, .paragraphe h3 {
    font-size:110%;
}

.paragraphe ul li p {
    margin-bottom: 50px;
}


.dropdown:hover .dropdown-menu {
    display: block;
}

.timeline{
    left: 50% !important;
}

.paragraphe p {
    margin-bottom: 20px;
}

.paragraphe ul li {
    margin-bottom: 10px;
    list-style-type:circle;
}

article.ferriere{
background-image: url(https://res.cloudinary.com/liono/image/upload/v1647268427/pexels-pixabay-414837_qthgdi.jpg);
background-repeat: no-repeat;
background-size: cover;
}



article.cooperateur{
    background-image: url(
        https://res.cloudinary.com/liono/image/upload/v1653902485/Ferreole/14_Onglet_Devenez_coop%C3%A9rateur_hvgzlm.jpg);
        background-repeat: no-repeat;
        background-size: cover;
    }


    .paragraphef h3,b{color: #66A3D9;
    font-size: 1.5rem;}